    <h1>LISTADO DE FAMOSOS ✅</h1>
    <table id="famososTabla">
    <thead>
    <th>ID</th>
    <th>NOMBRE</th>
    <th>APELLIDO</th>
    <th>PROFESION</th>
    <th> EDITAR</th>
    <th> BORRAR </th> 
    </thead>
    <tbody>

    </tbody>

    </table>