<form id="editarForm" action="javascript:void(0);" method="post">
    <input type="hidden" name="id" id="id_famoso">
    <div class="mb-3">
        <label for="inputNombre">Nombre</label>
        <input type="text" class="form-control" name="nombre" id="inputNombre" required>
    </div>
    <div class="mb-3">
        <label for="inputApellido">Apellido</label>
        <input type="text" class="form-control" name="apellido" id="inputApellido" required>
    </div>
    <div class="mb-3">
        <label for="inputProfesion">Profesion</label>
        <input type="text" class="form-control" name="profesion" id="inputProfesion" required>
    </div>
</form>
