<div class="mb-3">
                            {{ form_row(form.nombre, {
                                'label': 'Nombre',
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.apellido, {
                                'label': 'Apellido',
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_row(form.profesion, {
                                'label': 'Profesion',
                                'attr': {'class': 'form-control'}
                            }) }}
                        </div>
                 