{% extends 'base.html.twig' %}

{% block title %}FAMOSOS{% endblock %}

{% block body %}

<div class="example-wrapper">

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="flex justify-end">
    <p>Bienvenido {{ app.user.email }}</p>
    <form action="{{ path('app_logout') }}" method="post">
        <button type="submit" class="btn btn-logout">Logout</button>
    </form>
    </div>
{% endif %}


{% block modales %}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miModal">
    Insertar Datos
</button>
{# Ventana Modal con Formulario #}
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Insertar Nuevo Famoso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">          
                    {% include '/main/formulario.html.twig' %}   
            </div>
        </div>
    </div>
</div>

                <div class="modal-body">
                    {% include '/main/datostabla.html.twig' %}
                </div>
{% endblock %}
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
  document.getElementById('miFormulario').addEventListener('submit', function (e) {
    e.preventDefault(); // Previene el envío normal del formulario

    // Prepara los datos del formulario para enviar
    const formData = new FormData(this);

    // Realiza la petición fetch
    fetch('/main/formulario', {
      method: 'POST',
      body: formData,
    })
    .then(response => response.json())
    .then(data => {
      if(data.success) {
        // Aquí puedes cerrar la ventana modal y recargar la tabla de DataTables
        $('#miModal').modal('hide'); // Cierra modal (Bootstrap example)
        $('#famososTabla').DataTable().ajax.reload(); // Recarga DataTables
      } else {
        // Manejo de errores o validaciones del formulario
        alert('Hubo un error al procesar el formulario');
      }
    })
    .catch((error) => {
      console.error('Error:', error);
    });
  });
});

    function confirmDelete(nombre) {
    return confirm('¿Está seguro? Esta acción irá borrar el dato "' + nombre + '".');
        }
        window.addEventListener('DOMContentLoaded', (event) => {
            const firstInput = document.querySelector('input');
            if(firstInput) {
                firstInput.focus();
            }
        });

function configurarBotones() {
    return [
        {
            extend: 'excelHtml5',
            text: 'Exportar a Excel',
            title: 'Datos de Famosos',
            exportOptions: {
                columns: [0, 1, 2, 3]
            }
        },
        {
            extend: 'pdfHtml5',
            text: 'Exportar a PDF',
            title: 'Datos de Famosos',
            orientation: 'portrait',
            pageSize: 'A4',
            exportOptions: {
                columns: [0, 1, 2, 3]
            },
            customize: function(doc) {
                // Centrar la tabla en la página PDF
                var docContent = doc.content[1];
                docContent.margin = [ 0, 0, 0, 0 ]; // [left, top, right, bottom]
                docContent.table.widths = Array(docContent.table.body[0].length + 1).join('*').split('');
                // En ese apartado se puede ajustar para cambiar la posición de la tabla horizontalmente
                docContent.layout = {
                    hLineWidth: function(i, node) {
                        return 0.5;
                    },
                    vLineWidth: function(i, node) {
                        return 0.5;
                    },
                    hLineColor: function(i, node) {
                        return '#aaa';
                    },
                    vLineColor: function(i, node) {
                        return '#aaa';
                    },
                    paddingLeft: function(i, node) {
                        return 4;
                    },
                    paddingRight: function(i, node) {
                        return 4;
                    },
                    paddingTop: function(i, node) {
                        return 2;
                    },
                    paddingBottom: function(i, node) {
                        return 2;
                    }
                };
            }
        },
        {
            extend: 'print',
            text: 'Imprimir',
            title: 'Datos de Famosos',
            exportOptions: {
                columns: [0, 1, 2, 3]
            }
        },
        {
            extend: 'copy',
            text: 'Copiar',
            exportOptions: {
                columns: [0, 1, 2, 3]
            }
        }
    ];
}


$(document).ready(function() {
     $('#famososTabla').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{{ path('datos_tabla') }}",
        "columns": [
            { "data": "id" },
            { "data": "nombre" },
            { "data": "apellido" },
            { "data": "profesion" },
            { "data": "editar", "orderable": false },
            { "data": "borrar", "orderable": false }
            ],
        language: {
            url: '//cdn.datatables.net/plug-ins/1.10.20/i18n/Spanish.json'
        },  dom: '<"top"lBf>rt<"bottom"ip><"clear">',
        buttons: configurarBotones()
    });

     $('#miFormulario').submit(function(e) {
            e.preventDefault();
            alert('Datos enviados!');
            this.submit();
            
        });
});

    </script>
{% endblock %}


